[Unit]
Description="Flask serving Covariance Matrix Python app."
Documentation="https://company.atlassian.net/wiki/space"
# "Requires" is too forceful, and can cause problems.
Wants=network.target
After=network.target
# Don't bother with startup if the app path isn't even available.
ConditionalPathExists=/opt/flask

[Service]
# Don't run as root.
User=ubuntu
Group=ubuntu
Type=simple
Environment=FLASK_APP=/opt/flask/main.py
ExecStart=/usr/bin/flask run
Restart=on-failure

[Install]
# Only start on reboot in multi-user mode.
WantedBy=multi-user.target

